<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="pl.coderslab.beans.HelloWorld" id="helloWorld">
        <constructor-arg name="message" value="Witaj Spring"/>
        <property name="message" value="Witaj Spring - by setter"/>
    </bean>
    <!--       <bean class="pl.coderslab.beans.MessageService" id="messageService" abstract="true">-->
    <!--       </bean>-->
    <bean class="pl.coderslab.beans.EmailService" id="emailService">

    </bean>

    <bean class="pl.coderslab.beans.MessageSender" id="messageSender">
        <constructor-arg ref="emailService"/>
        <property name="message" value="Message from xml"/>
    </bean>
</beans>